RewriteEngine On
RewriteCond %{HTTP_HOST}  !^www\.mk8dxbuilder\.com$ [NC]
RewriteRule ^(.*) http://www.mk8dxbuilder.com/$1 [L,R]

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

